html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*** video ***/

#background-video {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1876px;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.custom-video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 

     /*Nav bar*/
.overlay {
    background-color: #176B91;
    border-radius: 0 0 10px 10px;
}

.overlay img{
    padding-bottom: 30px;
}

.navbar .navbar-brand img {
   margin-left: 70px;
}
/** video**/

/*** Spinner Start ***/


#spinner {
    opacity: 1;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }
/*** Spinner End ***/


.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 400 !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.wow,
.animated {
    animation-duration: 2s !important;
}


/* hero section */
.container-fluid .container .hero h1 span{
    color: #176B91;
    font-weight: 600;
    letter-spacing: 3px;
}

.slider{
    width: 80%;
    margin: auto;
    overflow: hidden
}
.slide {
    display: none;
}
.slider h1 span{
    color: #0490a8;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.slider h1{
    margin-top: 90px;
}
.slider small {
    letter-spacing: 3px;
}



/* Optional: Add transition effects */
.slide {
    animation: fade 1.5s ease-in-out infinite;
}



/*** Button Start ***/
.btn.btn-primary {
    border: 1px solid #0490a8;
    color: white;
    background-color: #176B91;
}

.btn.btn-primary:hover {
    background: rgb(255, 255, 255) !important;
    color: #176B91!important;
    border: 1px solid #176B91;
}

.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 38px;
    height: 38px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Button End ***/

/*** Navbar Start ***/
.nav-bar {
    background: transparent;
    height: 135px;
}

.navbar .navbar-nav .nav-link {
    padding: 10px 18px;
    font-weight: Bold;
    font-size: 24px;
    transition: .5s;
    color: #ffffff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #19ecde;
}
.navbar .navbar-nav .nav-link.active  {
    color: #000000;
    font-size: 28px;
    text-decoration: overline;
    font-family: 'Times New Roman', Times, serif;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }
    
    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;
    }
}

.dropdown .dropdown-menu a {
    background-color: white;
}
.dropdown .dropdown-menu a:hover {
    background: #426f85 ;
    color: #ffffff;
    border-radius: 50px;
}
.dropdown .dropdown-menu a.active {
    background: rgb(23,107,145,0.7);
    color: #ffffff;
    border-radius: 50px;
    justify-content: center;
}


/** CHAT BOT **/

#searchModal .modal-content {
    background-color: rgba(255, 255, 255, .95);
}
/*** Navbar End ***/


/*                          */

.container-fluid .h1 .textprimary {
    color: black;

}



/*** Service start(We offer) ***/

.offerservice{
    position: relative;
    margin-top:10%;
}

.service .service-item {
    position: relative;
    height: 100%;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: #176B91;
    border-radius: 8px;
    transition: 1s;
}

.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}

.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}

.service-item .service-content-icon i{
    color:#176B91;
}
.service-item .service-content-icon p {
    transition: 1s;
}

.service-item:hover .service-content-icon h4 {
    color: snow;
}


.service-item:hover .service-content-icon i {
    color: white !important;
}

.service-item:hover .service-content-icon p {
    color: white;
}

.service-item:hover .service-content-icon a.btn-primary {
    background: white;
    color: #176B91;
}

.service-item .service-content-icon a.btn-primary {
    transition: 1s !important;
    color: #ffffff;
    background-color: #176B91;
}



/*** Services End ***/

/* About us*/

.stories_section {
    width: 100%;
    float: left;
    position: relative;
}

.stories_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #360e0e;
    font-weight: bold;
    text-align: center;
}

.stories_section_2 {
    width: 100%;
    float: left;
}

.image_box {
    width: 100%;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 20px 80px 0px rgba(17, 118, 185, 0.3); 
    height: 335px;
    border-radius: 10px;
    padding: 50px 20px;
    overflow: hidden;
    min-height: 300px;
}

.image_6 {
    width: 100%;
    text-align: center;
    margin-left: 3px;
    margin-top: -35px;
}

.heading_text {
    width: 100%;
    float: left;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #1f1f1f;
    text-align: center;
    padding-top: 20px;
}


.texts {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    text-align: left;
    margin: 0px;
    padding-top: 20px;
    text-transform: capitalize;
}

.image_box:hover {
    cursor:pointer;
    transition: all .5s ease-in-out;
    transform: scale(1.15);
    height: auto;
}

    /*About us*/ 
.aboutservice ul {
    width:max-content;
    height: fit-content;
    position: relative;
}

.aboutservice .tab-content {
    max-width: 300%;
    width: 600px;
    max-height: 100%;
    margin-left: 10%;
    
}

.aboutservice .img-fluid  {
    width: 600px;
}

.aboutservice h1{
    font-family: 'Times New Roman', Times, serif;
    color: #176B91;
    margin-left: 50%;
}
.aboutservice .tabulation-2 ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    margin-left: 23.5%;
}

.aboutservice .tabulation-2 li {
    float: left;
}

.aboutservice .tabulation-2 li a {
    display: block;
    width: 150px;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-left: 10px;
}

.aboutservice .tab-content .content_text {
    font-size: 18px;
    line-height: 33px;
    width: 100%;
    height: 100%;
    justify-content:center ;
}




.tabulation-2 .nav-pills .nav-item .nav-link {
    background: #fff;
    border-radius: 4px;
    color: #000000;
    font-weight: 600;
    border: 3px solid rgba(17, 133, 168, 0.1); }
.tabulation-2 .nav-pills .nav-item .nav-link span {
      color: #176B91; }
.tabulation-2 .nav-pills .nav-item .nav-link.active {
      color: #fff;
      background: #176B91;
      border: 1px solid #070707; }
.tabulation-2 .nav-pills .nav-item .nav-link.active span {
        color: #fff; }
  
  .tabulation-2 .tab-content {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 45px rgba(14, 134, 193, 0.08);
 }

.tab-content > .tab-pane {
        display: none; }
      
.tab-content > .active {
        display: block; }
      


/*** Why Legal Service? ***/

.container-legal-faqt .container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}


.container-legal-faqt .container i {
    color:#176B91;
}
.container-legal-faqt .container h1{
    text-align: center;
}

.container-legal-faqt .container .table {
    min-width: 100%;
    width:25%;
    height: 100%;
    color:black;
}

.container-legal-faqt .container .table p{
    margin: auto;
    line-height: 1.5em;
    justify-content: baseline;
}
/*** Why Legal Service? ends ***/

/*** Team Start ***/

.teamsection h1{
    font-family: 'Times New Roman', Times, serif;
    color: #176a91;
}
.team-item {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 50px;
}

.team-item .team-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.team-item .team-icon .share-link {
    opacity: 0;
    transition: 0.9s;
}

.team-item:hover .share-link {
    opacity: 1;
}

.team-item .team-content {
    transition: 0.9s;
}

.team-item:hover .team-content {
    background: #176B91 !important;
    color: var(--bs-dark) !important;
}

.team-item .team-content h4 {
    color: #176B91;
}
.team-item .team-content p {
    transition: 0.5s;
}

.team-item:hover .team-content h4 {
    color: var(--bs-dark) !important;
}

.team-item:hover .team-content p {
    color: white;
}

.team-item .team-icon:hover a {
    color: aqua;
    background-color: #000;
}

.team-item .team-icon a {
    color: AQUA;
    background-color: #176B91;
}
/*** Team End ***/


/*** Contact start ***/
.contact-form {
    box-shadow: 0 0 45px rgba(5, 216, 235, 0.08);
}

/*** Contact End ***/


/*** Footer Start ***/
.footer_section  {
    width: 100%;
    float: left;
    background-color: transparent;
    background-image: url(../img/footermirror.png);
    height: auto;
    padding-bottom: 90px;
    padding-top: 30px;
    background-size:cover;
}
.footer_section .container {
    position: relative;
}.footer_section .footercontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    margin-top: 160px;
    color: #000;
}
.footer_section .footercontent .footer-item p {
    color: white;
}

.footer_section .footercontent .footer-item {
    margin: auto 16.5%;
    display: inline-block;
}
.footer_section .footercontent .footer-item .h4 {
    width: 300px;
    max-width: 500%;
}

.footer_section .footercontent .contactindex .footer-item {
    margin: auto -964.5%;
    min-width: 300%;
}
.footer_section .footercontent .timingindex .footer-item {
    margin: auto -1104.5%;
    min-width: 300%;
}

.footer_section .map_main iframe{
    margin: 0 auto;
    width: 35%;
    max-width: 600px;
    position: relative;
    z-index: 1;
    margin-bottom: 2px;
    border-radius: 50px;
    margin-left: 65%; /* adjust this value */
}
.footer_section .follow_text {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 3px;
    margin-bottom: -2%;
}
.footer_section .follow_text h4 {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px;
    font-weight: bold;
    padding-top: 30px;
    row-gap: 20px;
    width: 200px;
}

.social_icon {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.social_icon a {
    padding: 0px;
    display: inline-flex;
    margin-bottom: -5%;
}

.social_icon .a  {
    float: left;
    padding-right: 10px;
}


.footer .footer-item a.text-body:hover {
    color: var(--bs-primary) !important;
}
.footer_section .footer-item p {
    font-weight: 600;
    color: #000000;
}
.footer_section .footer-item p span {
    color: #fff;
}
/*** Footer End ***/
/*** Copyright start ***/
.copyright_section {
    width: 100%;
    float: left;
    background-color: #262626;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin-left: 0px;
    border-top: 1px solid #8a8a8a;
    padding-top: 20px;
}

.copyright_text a {
    color: #ffffff;
}


.margin_top_90 {
    margin-top: 90px;
}

.margin_90 {
    margin: 90px 0px;
}


/****                 Subpage             ****/

/* About us*/
.container-fluidabout img {
    width: 95%;
    height: 100%;
    margin: 40px;
}
.containeraboutus {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.section {
    margin: 20px 0;
    overflow: hidden;
  }

.textmission {
    float: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }

  .containeraboutus .textmission h3{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #176B91;
  }

  .containeraboutus .textmission p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    justify-content: center;
  }
  .imagemission {
    float: right;
    width: 40%;
   box-sizing: border-box;
  }
  .imagemission img{
   border-radius: 22px;
   margin-left: -15%;
  }

  .containeraboutus .textvission h3 {
    display: inline-block;
    font-size: 50px;
    color: #176B91;
    font-family: 'Times New Roman', Times, serif;
  }

  .containeraboutus .textvission p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    justify-content: center;
  }

  .textvission {
    float: right;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;

  } 


  .imagevision {
    float: left;
    width: 45%;
    height: 20%;
    box-sizing: border-box;

  }
  .imagevision img{
    border-radius: 20px;
  }

  .containeraboutus .textstory h3{
    display: inline-block;
    font-size: 50px;
    color: #176B91;
    font-family: 'Times New Roman', Times, serif;
  }

  .containeraboutus .textstory p{
        font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    justify-content: center;
  }

  .containeraboutus img {
    width: 100%;
    height: auto;
    display: block;
  }

  .section {
    text-align: center;
    margin-bottom: 80px;

  }

  /*about us ends */

  /* our team*/

.container-team .container a {
    float: right;
  }

  /*** team Start ***/
.team-item {
    position: relative;
}

.team-item img {
    transition: 0.5s;
}

.team-item:hover img {
    transform: scale(1.1);
    border-radius: 10px;
}

.team-item .blog-content {
    position: relative;
    transform: translateY(-50%);
    box-shadow: 0 20px 80px 0 rgba(17, 118, 185, 0.3);
}

.team-item .blog-content a.btn h5 {
    transition: 0.5s;
}

.team-item:hover .blog-content a.btn h5 {
    color: #176B91 !important;
}

.team-item .text-dark  {
    background-color: #176B91;
}

.container-team .container img{
    background-size: cover;
}

/**

/*** team End ***/


/*** family(contact) start ***/

.contactbutton {
    border: none;
    outline: none;
    text-align: center;
    font-size: 100%;
}
@media screen and (max-width: 992px){
    .contactbutton {
        margin-top: 2rem;
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
        }
    }
    .contactbutton p {
        font-size: 20px;
    }
    .contactbutton a {
        padding: 13px 20px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        border-radius: 10px;
        }

.contactbutton p span {
    font-weight: bold;
}

        /*** family(contact)ends***/

        /*** family(title) start ***/

.title .heading{
    margin-top: 5%;
}


.title .heading h1 {
    color: #176B91;
    font-family: 'Times New Roman', Times, serif;
}

.title .heading p {
    font-size: 28px;
    width: 80%;
    margin-left: 10%;
    text-align: left;
    line-height: 50px;
}

.title .heading p span{
    color:#176B91;
    font-size: 40px;
}
.title .heading  ul li {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    width: 70%;
    margin-left: 9%;
    margin-top: 30px;
    margin-bottom: 15px;
    list-style: decimal;
}

.title .heading small{
    font-size: 20px;
    justify-content: center;
    width: 60%;
    padding-top: 30%;
}
       /*** family(title) ends ***/


      /***wills & probate(title) start ***/

.container-fluid .container .headpara p {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid .container .headpara p span{
    font-weight: bold;
}

        /***wills & probate(title) ends ***/


        /***contactus start ***/
.contactus .container {
    background-color: #ffffff;
}

.contactus .main h1 {
    color: #176B91;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.contactus .main h5 {
    width: 60%;
    text-align: center;
    margin-left: 20%;
}

         /***contactus ends ***/


    /*============Service Start(12 product)===================*/   

.contentbox {
    width: 90%;
    margin: 90px;
}
.contentbox h3{
    font-size: 30px;
    font-family: sans-serif;
}

.contentboxside {
    width: 75%;
    margin: 20px;
    margin-left: 10%;
    padding: 50px;
    gap: 100px;
}
.contentcapsule .capsuledown{
    padding-left: 40%;
    width: 200px;
}

.contentcapsule .headpara p {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 40px;
    font-weight:450;
}

        /*Service Ends(12 product)*/  



      /***employment start ***/

.titleemploy .heading p {
    display: inline-block;
    width: 70%;
    text-align: justify;
    font-size: 21px;
}

    /*** emplyment end ***/

    /*** ================Team  Starts=====================***/
    /*** ben ***/
    /*** hurshi ***/
    /*** Ishrat ***/
    /*** kareena ***/
    /*** kalana***/

.home_banner_area {
    top: 1px;
    position: relative;
    z-index: -1;
    margin-bottom: 200px;
}


.home_banner_area .box_1620 {
    min-height: 800px;
    width: auto;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgba(17, 118, 185, 0.3); 
}
.home_banner_area .banner_inner {
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
 }
.home_banner_area .banner_inner .banner_content {
    color: #222222;
    vertical-align: middle;
    align-self: center;
    text-align: left;
}

.home_banner_area .banner_inner .banner_content .media .d-flex {
    padding-right: 125px;
}

.home_banner_area .banner_inner .banner_content .media .d-flex img {
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
    height:600px;
    width: 425px;
}

.home_banner_area .banner_inner .banner_content .media .media-body {
    vertical-align: middle;
    align-self: center;
 }
    
    
.personal_text {
    padding-left: 515px;
    position:relative;
    margin-top: -50%;
    width: 100%;
}
                      
.personal_text h6 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #222222;
}

.personal_text h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222; }

.personal_text h3 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
    border-bottom: 2px solid #176B91; }
        
.personal_text p {
    font-family: "Roboto", sans-serif;
    max-width: 650px;
    position: relative;
    color: #777777;
    margin-bottom: 30px;
    text-transform: capitalize;
    text-align: left;
}
      
.socialicon {
    display: flex;
    gap:10px
}

  /*** ================Team Ends===================== ***/



    /*** debt recovery starts ***/
.contenttext .text  ul li {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 15px;
    list-style: decimal;
}

    /*** debt recovery ends ***/

    /*====Our Team ========*/
.team-section {
	background: #ffffff;
	overflow: hidden;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.team-section .meetteam {
    font-size: 42px;
    font-weight: 600;
}

.team-members {
	margin: 0 -10px;
}

.member-info .team-link {
    text-decoration: none;
    color: #000;
    line-height: 20px;
    display: block;
	padding-top: 25px;
	margin-bottom: 0;
    width: 215px;
}

.member {
	background: #fff;
	width: calc(20% - 25px);
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	padding: 50px 10px;
	-webkit-box-shadow: 0px 20px 80px 0px rgba(17, 118, 185, 0.3);
	        box-shadow: 0px 20px 80px 0px rgba(17, 118, 185, 0.3);
	border-radius: 10px;
	position: relative;
}

.member h2 {
	font-size: 22px;
	margin-bottom: 5px;
    text-transform: uppercase;
}

.member span {
	font-size: 14px;
	color: #75849a;
	display: block;
    font-weight: 500;
}

.member .member-text {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 1;
}

.member:hover {
	-webkit-box-shadow: 1px 14px 43px rgba(51, 110, 130, 0.15);
	        box-shadow: 1px 14px 43px rgba(12, 173, 227, 0.15);
}

.member:hover .member-info {
	opacity: 1;
}

.member:hover .member-text {
	opacity: 0;
}

.member-img {
	width: 230px;
	height: 230px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 25px;
}

.member-social {
	padding-top: 35px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.member-social a {
	width: 50px;
	height: 50px;
	display: inline-block;
    text-align: center;
	border-radius: 50%;
	background: #cbd3df;
	color: #176B91;
	padding-top: 13px;
	margin: 0 8px;
}

.member-meta {
	padding-left: 85px;
}

.member-info {
	padding: 50px 60px 10px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: left;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	height: 380px;
	overflow-y: auto;
}


.member-img.mf { 
	width: 60px;
	height: 60px;
	opacity: 1;
	float: left;
	margin-bottom: 0;
}



/*========Preloader=========*/


.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto;
  }
  
  .preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #ff1313;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  
  .preloader .preloader-circle2 {
    border-top-color: #0078ff;
  }
  
  .preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  
  .preloader .preloader-img img {
    max-width: 55px;
  }
  
  .preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase;
  }
  
@-webkit-keyframes zoom {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
    }
  }
  
  @keyframes zoom {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s;
    }
  }
  
  /*===========*/
